#add-more-qt-to-paper {
    cursor: pointer;
    color: #1ba1e2;
}

#add-more-qt-to-paper:hover {
    color: #ff7f74;
}

#add-more-qt-to-paper i {
    color: #47a447;
    cursor: pointer;
    margin-right: 5px;
}

#qt-selector-iframe {
    border: none;
    height: 600px;
}

.tmp-ques-remove {
    margin-left: 10px;
}

.question-point {
    padding: 0 8px;
    margin: 0 2px;
    border-bottom: 1px solid;
    cursor: pointer;
}

.question-point:hover {
    color: #ff7f74;
}