/**fieldset form********************************************************************************************/
fieldset.aform{
	padding:10px;
	margin-top:5px;
	border:1px solid #63C0BA;
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
	}

fieldset.aform legend{
	color:#63C0BA;
	font-weight:bold;
	padding:3px 20px 3px 20px;
	border:1px solid #63C0BA;
	background:#fff;
	font-size:13px;
	width: 530px;
	letter-spacing:1px;
	}
	
fieldset.bform div.fieldset-body{
	margin-bottom:30px;
	}

fieldset.bform{
	padding:10px;
	margin-top:5px;
	border:1px solid #63C0BA;
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
	}

fieldset.bform legend{
	color:#63C0BA;
	font-weight:bold;
	padding:3px 20px 3px 20px;
	border:1px solid #63C0BA;
	background:#fff;
	font-size:13px;
	width: 500px;
	letter-spacing:1px;
	}
	
fieldset.aform div.fieldset-body{
	margin-bottom:30px;
	}

.back-btn{
	float: right;
    color: #ffffff;
    background: linear-gradient(270deg,rgba(0,185,90,.7),#00b95a);
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #00b95a;
    cursor: pointer;
    font-weight: 400;
}